<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <% const routes_amount = routes.length %>
    <h1>Найдено <%= routes_amount %> маршрутов</h1>
    <h3>
      <table>
        <tr>
          <th>ID</th>
          <th>Departure station</th>
          <th>Arrival station</th>
          <th>Date</th>
          <th>Time</th>
          <th>City of departure</th>
          <th>City of arrival</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
        <% for (let id = 0; id < routes.length; id++) { %>
        <tr>
          <td class="far-left"><%= routes[id].idRoutes %></td>
          <td><%= routes[id].departure_station_name %></td>
          <td><%= routes[id].arrival_station_name %></td>
          <td><%= routes[id].departure_date.toLocaleDateString() %></td>
          <td><%= routes[id].departure_time %></td>
          <td><%= routes[id].departure_station_city %></td>
          <td><%= routes[id].arrival_station_city %></td>
          <td><%= routes[id].price %></td>
          <td>
            <button
              onclick="window.location.href='/edit_route/route_id_<%= routes[id].idRoutes %>'"
            >
              Edit route number <%= routes[id].idRoutes %>
            </button>
          </td>
          <td>
            <button
              onclick="window.location.href='/delete_route/route_id_<%= routes[id].idRoutes %>'"
            >
              Delete route number <%= routes[id].idRoutes %>
            </button>
          </td>
        </tr>
        <% } %>
      </table>
      <button onclick="window.location.href='/user'">Exit admin panel</button>
    </h3>
    <form method="GET" action="/filter_admin">
      <input
        type="number"
        name="minPriceInput"
        value="<%= priceMin %>"
        min="0"
        max="2000"
        step="50"
      />
      <input
        type="number"
        name="maxPriceInput"
        value="<%= priceMax %>"
        min="0"
        max="1000"
        step="50"
      />
      <select name="departure_station_city">
        <option value="">Select departure city</option>
        <% for (let id = 0; id < cities.length; id++) { %>
        <option value="<%= cities[id] %>"><%= cities[id] %></option>
        <% }; %>
      </select>
      <select name="arrival_station_city">
        <option value="">Select arrival city</option>
        <% for (let id = 0; id < cities.length; id++) { %>
        <option value="<%= cities[id] %>"><%= cities[id] %></option>
        <% }; %>
      </select>
      <button type="submit">Submit</button>
    </form>
    <button onclick="window.location.href='/create_route'">
      Create new route
    </button>
  </body>
</html>
