<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <% const routes_amount = routes.length %>
    <h1>Найдено <%= routes_amount %> маршрутов</h1>
    <h3>
      <table>
        <tr>
          <th>ID</th>
          <th>Departure station</th>
          <th>Arrival station</th>
          <th>Date</th>
          <th>Time</th>
          <th>City of departure</th>
          <th>City of arrival</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
        <% for (let i = 0; i < routes.length; i++) { %>
        <tr>
          <td class="far-left"><%= i %></td>
          <td><%= routes[i].departure_station_name %></td>
          <td><%= routes[i].arrival_station_name %></td>
          <td><%= routes[i].departure_date.toLocaleDateString() %></td>
          <td><%= routes[i].departure_time %></td>
          <td><%= routes[i].departure_station_city %></td>
          <td><%= routes[i].arrival_station_city %></td>
          <td><%= routes[i].price %></td>
          <td>
            <button
              onclick="window.location.href='/edit_ticket/ticket_id_<%= i %>'"
            >
              Edit ticket number <%= routes[i].idRoutes %>
            </button>
          </td>
          <td>
            <button
              onclick="window.location.href='/delete_ticket/ticket_id_<%= i %>'"
            >
              Delete ticket number <%= routes[i].idRoutes %>
            </button>
          </td>
        </tr>
        <% } %>
      </table>
      <button onclick="window.location.href='/user'">Exit admin panel</button>
    </h3>
    <form method="GET" action="/filter_admin">
      <input type="checkbox" name="idRoute2Checkbox" value="true" />idRoute = 2
      <input type="checkbox" name="cityEskiCheckbox" value="true" />city = Eski
      Qırım
      <button type="submit">Submit</button>
    </form>
    <h1>
      <button onclick="window.location.href='/create_ticket'">
        Create new route
      </button>
    </h1>
  </body>
</html>
