<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('header') %>
    <h1>User Panel</h1>
    <h2>Ticket Information</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Departure city</th>
        <th>Arrival city</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Email</th>
      </tr>
      <tr>
        <td class="far-left"><%= ticket.idRoutes %></td>
        <td><%= ticket.departure_city %></td>
        <td><%= ticket.arrival_city %></td>
        <td><%= ticket.departure_date.toLocaleDateString() %></td>
        <td><%= ticket.departure_time %></td>
        <td><%= ticket.price %></td>
        <td><%= email %></td>
      </tr>
    </table>
  </body>
</html>
